/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   box-sizing: border-box;
 }

 body {
   /* background-color: rgb(151, 151, 151); */
   min-height: calc(100vh);
   background: linear-gradient(127.78deg, rgba(250, 0, 255, 0.28) -1.09%, rgba(82, 0, 255, 0.35) 0.25%, rgba(0, 71, 255, 0.35) 2.16%, rgba(227, 225, 233, 0.35) 7.39%), #FFFFFF;

 }